---
layout: default
---
<article class="post">
  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <div class="post-meta">
      {{ page.date | date: "%b %-d, %Y" | upcase }} - {{ site.author }}
    </div>
  </header>
  <div class="post-content">
    {{ content }}
  </div>
</article>


<!-- Add comments here -->
<script src="https://utteranc.es/client.js"
  repo="shushankai/shushankai.github.io"
  issue-term="pathname"
  theme="github-light"
  crossorigin="anonymous"
  async>
</script>